/* section banner */
.tagline-position {
  width: 696px;
  margin: 0 auto;
}

.banner {
  padding: 200px 0px;
  background-color: var(--dark-background);
  background-image: var(--banner-gradient), url(../images/bg-our-office.jpg);
  background-size: cover;

  .banner-center {
    text-align: center;
  }
}

/* section our advantages */
.advantages-about {
  margin: 0px 0px 10px 0px;
}

.flex-advantages {
  width: 270px;
}

.advantages-div {
  display: flex;
  background-color: var(--light-background);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  .advantages-svg {
    width: 70px;
    height: 70px;
  }
}

/* section what we do */
.section-whatwedo {
  padding-bottom: 94px;

  .whatwedo-list {
    position: relative;
  }

  .whatwedo-name-position {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* section our team */
.ourteam {
  background-color: var(--light-background);
}

// карточка
.ourteam-back,
.ourteam-back:visited {
  background-color: var(--clean-color);
  width: 270px;
  box-shadow: var(--ourteam-shadow);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  transition: filter var(--time-duration) var(--timing-function);

  &:hover,
  &:focus {
    filter: var(--drop-shadow);
  }

  .heading-team {
    margin: 30px 0px 10px 0px;
  }

  .icon-ul {
    padding: 0 32px 30px 32px;
  }
}
