/* section banner */
.tagline-position {
  width: 360px;
  @media screen and (min-width: $desktop) {
    width: 696px;
  }
  margin: 0 auto;
}

.banner {
  padding: 118px 0px;

  @media screen and (min-width: $desktop) {
    padding: 200px 0px;
  }

  background-color: var(--dark-background);
  background-image: var(--banner-gradient), url(../images/bg-our-office.jpg);
  background-size: cover;

  .banner-center {
    text-align: center;
  }
}

/* section our advantages */
.advantages-about {
  margin: 0px 0px 10px 0px;
}

.advantages-padding {
  padding: 60px 15px 30px;

  @media screen and (min-width: $desktop) {
    padding: 94px 15px 64px;
  }
  .flex-advantages {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $tablet) {
  .advantages {
    flex-wrap: wrap;
  }

  .flex-advantages {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: $desktop) {
  .flex-advantages {
    width: 270px;
  }
}
.advantages-div {
  display: flex;
  background-color: var(--light-background);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  .advantages-svg {
    width: 70px;
    height: 70px;
  }
}

/* section what we do */
@media screen and (max-width: 1119px) {
  .section-whatwedo {
    display: none;
  }
}
.section-whatwedo {
  padding-bottom: 94px;

  .whatwedo-list {
    position: relative;
  }

  .whatwedo-name-position {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* section our team */
.ourteam {
  background-color: var(--light-background);
  width: 100%;

  .ourteam-wrap {
    flex-wrap: wrap;
  }
}

// карточка
.ourteam-back,
.ourteam-back:visited {
  background-color: var(--clean-color);
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
  }
  box-shadow: var(--ourteam-shadow);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  transition: filter var(--time-duration) var(--timing-function);

  &:hover,
  &:focus {
    filter: var(--drop-shadow);
  }

  .heading-team {
    margin: 30px 0px 10px 0px;
  }

  .icon-ul {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    @media screen and (min-width: $desktop) {
      padding-bottom: 30px;
    }
  }
}

.icon-list {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}
