.logo {
  color: var(--main-color);
  font-family: var(--second-font);

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
  font-size: 24px;

  &.footer-logo {
    color: var(--clean-color);
  }
  .web {
    color: var(--accent-color);
  }
}
